<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="executablePath" value="C:\Program Files\totalcmd\TOTALCMD64.EXE"/>
    <add key="runAsSingleton" value="true"/>
    <add key="processGraceTimeMillis" value="250"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>